{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Fábio Andrade</title>
</head>
<body>
    <div class="container-fluid">
{% block menu %}
        <br>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'core_home' %}">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'core_lista_alunos' %}">Pessoa</a>
      <a class="dropdown-item" href="{% url 'core_lista_mensalidades' %}">Mensalidade</a>
    </div>
  </li>

    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="">Olá, {{user}}</a>
    </li>

        <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    {% else %}

        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
</ul>
<hr>
    {% endif %}

{% endblock %}
    </div>
    <div class="container-fluid">
        {% block main %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>